/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

/*basic css top navigation bar provided for us*/

/*links for colors
- https://color.adobe.com/create/color-wheel/
- http://www.color-hex.com/color-wheel/
*/
    html {
      height: 100%;
    }
    body {
       width: 800px;
       height: 100%;
    }

    header {
        background-color: #618F07;
        padding: 5px;
        border: 8px solid #FF530D;
        font-size: 45px;
        font-family: 'Bubblegum Sans', cursive;
        display: block;
        color: #FFFFFF;
        text-align: center;
    }
    nav {
        float: left;
    }
    nav ul {
        padding: ;
        float: left;
        border-bottom: ;
        list-style-type: none;
    }
    nav li {
        float: left;
    }
    nav li a {
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
    a {
        color: ;
    }
    section {
        width: 73%;
        display: inline-block;
        float: left;
    }
    image {
        max-width: 100%;

    }
    aside {
        width: 17%;
        display: inline-block;
        background-color:;
        padding:;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        color:;
        clear: both;
        display: block;
    }